/* import google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 
colors:#333333  #cccccc #eeeeee #ffff ;
#d3dbff #875fc0 #fbaf01 #7ee492
#00bead
*/

/* Reset the box default style */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Shared styles START here */

body {
	margin: 0;
	font-family: "Open Sans", Roboto, Arial;
	font-size: 16px;
	background-color: #d3dbff;
	color: #333333;
	line-height: 1.5rem;
}

.hide {
	display: none;
}

.wrapper {
	max-width: 700px;
	background-color: #ffffff;
	margin: 40px auto;
	padding: 30px;
	border-radius: 8px;
}

.wrapper::before,
.wrapper::after {
	content: "";
	clear: both;
	display: table;
}

/* Shared style for all h1 */
h1 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 15px;
}

/* Shared Style for all buttons */
.btn {
	padding: 15px 40px;
	background-color: #875fc0;
	color: #ffffff;
	font-size: 1.3rem;
	border-radius: 8px;
	border-style: none;
	cursor: pointer;
	display: inline-block;
}

/* Shared styles ENDS here  */

/* TIMER styles */
.timer-wrapper {
	background-color: #d3dbff;
	padding-bottom: 0;
}

.timer-wrapper p.time-left {
	color: #fbaf01;
	font-weight: 600;
}

/* Start-Section Wrapper div */

.home-wrapper p.total-number {
	font-size: 1.1rem;
	font-weight: 600;
	color: #875fc0;
	margin: 15px 0;
}

.home-wrapper .btn {
	margin-top: 15px;
}

/* Set the questions container  */

.quiz-wrapper .option-container,
.quiz-wrapper .question-number,
.quiz-wrapper .question-text,
.quiz-wrapper .next-question-btn,
.quiz-wrapper .answers-indicator {
	width: 100%;
	float: left;
}

.quiz-wrapper .question-number {
	font-size: 1.2rem;
	font-weight: 700;
	color: #875fc0;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
}

.quiz-wrapper .question-text {
	font-size: 1.1rem;
	font-weight: 600;
	padding-top: 12px;
	line-height: 1.55rem;
	margin-bottom: 28px;
}

.quiz-wrapper .btn {
	margin: 30px 0;
}

.quiz-wrapper .option-container .option {
	background-color: #eeeeee;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 15px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
	/* line-height: 2rem; */
}

/* Style how the questions pop up to the screen - animation above  */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Restrict users to select other options once an option is selected. (For class "already-answered" added via JS )*/
.quiz-wrapper .option-container .option.already-answered {
	pointer-events: none;
}

/* Style for CORRECT answer- added class via JS */
.quiz-wrapper .option-container .option.correct::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #7ee492;
	z-index: -1;
	animation: slideInLeft .5s ease forwards;
}

/* Style how the color ease into to the screen - animation above  */
@keyframes slideInLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		tranform: translateX(0%);
	}
}

.quiz-wrapper .option-container .option.correct {
	color: #fff;
}

/* Style for INCORRECT answer- added class via JS */
.quiz-wrapper .option-container .option.incorrect::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #fbaf01;
	z-index: -1;
	animation: slideInLeft .5s ease forwards;
}

@keyframes slideInLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		tranform: translateX(0%);
	}
}

.quiz-wrapper .option-container .option.incorrect {
	color: #fff;
}

/* Style for ANSWER INDICATOR section  */
.quiz-wrapper .answers-indicator {
	border-top: 1px solid #cccccc;
}

.quiz-wrapper .answers-indicator div {
	height: 40px;
	width: 40px;
	display: inline-block;
	background-color: #eeeeee;
	border-radius: 50%;
	margin-right: 3px;
	margin-top: 15px;
}

.quiz-wrapper .answers-indicator div.correct {
	background-color: #7ee492;
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	background-image: url(../images/check-white.png);
}

.quiz-wrapper .answers-indicator div.incorrect {
	background-color: #fbaf01;
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	background-image: url(../images/cross-white.png);
}

/* Styles for RESULT WRAPPER SECTION */

.result-wrapper {
	width: 100%;
	text-align: center;
	padding: 60px 0;
	margin: 0 auto;
}

.result-wrapper h1 {
	color: #875fc0;
	font-weight: 700;
	margin-top: 30px;
}

.result-wrapper input {
	margin: 20px auto;
	padding: 25px;
	width: 250px;
	height: 30px;
	border: 1px solid #875fc0;
	border-radius: 8px;
}

.result-wrapper .btn {
	margin: 10px 20px;
	width: 250px;
}
